<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Users</h2>

    <% if (users.length > 0) { %>
      <% users.forEach(eachuser => { %>
        <a class="single" href="/users/<%= eachuser.id %>">
          <h3 class="title"><%= eachuser.name %></h3>
          <p class="snippet"><%= eachuser.email%></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no users to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>